---

---

<h2 class="heading" data-en="Recruit">線と英字を組み合わせた見出しデザイン03</h2>

<style lang="scss">
	.heading {
		position: relative;
		padding-top: 30px;
		font-size: 26px;
		border-bottom: 1px solid rgba(5,62,98,1);

		&::before {
			content: attr(data-en);
			position: absolute;
			top: 0px;
			left: 0;
			color: rgba(5,62,98,0.2);
			font-size: 40px;
			text-transform: uppercase;
			z-index: 1;
		}

		span {
			position: relative;
			z-index: 2;
		}
	}
</style>
