---

---

<h2 class="heading">シンプルに丸と組み合わせた見出しデザイン
</h2>

<style lang="scss">
	.heading {
		position: relative;
		padding-bottom: 20px;
		font-size: 26px;
		text-align: center;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 7px;
			height: 7px;
			background-color: #b99b00;
			border-radius: 7px;
		}
	}
</style>
