---

---

<h2 class="heading" data-number="02">数字と線を組み合わせた見出しデザイン02</h2>

<style lang="scss">
  .heading {
    position: relative;
    font-size: 26px;

    &::before {
      content: attr(data-number);
      display: inline-block;
      margin-right: 20px;
      color: #498ee0;
      font-size: 30px;
      border-bottom: 1px solid #498ee0;
    }
  }
</style>
