---
import Layout from '../layouts/Layout.astro';

import Heading1 from '../components/heading/Heading1.astro';
import Heading2 from '../components/heading/Heading2.astro';
import Heading3 from '../components/heading/Heading3.astro';
import Heading4 from '../components/heading/Heading4.astro';
import Heading5 from '../components/heading/Heading5.astro';
import Heading6 from '../components/heading/Heading6.astro';
import Heading7 from '../components/heading/Heading7.astro';
import Heading8 from '../components/heading/Heading8.astro';
import Heading9 from '../components/heading/Heading9.astro';
import Heading10 from '../components/heading/Heading10.astro';
import Heading11 from '../components/heading/Heading11.astro';
import Heading12 from '../components/heading/Heading12.astro';
import Heading13 from '../components/heading/Heading13.astro';
import Heading14 from '../components/heading/Heading14.astro';
import Heading15 from '../components/heading/Heading15.astro';
---

<Layout title="Heading | Code Stock">
	<main>
		<h1><span class="text-gradient">Heading</span></h1>
		<Heading1 />
		<Heading2 />
		<Heading3 />
		<Heading4 />
		<Heading5 />
		<Heading6 />
		<Heading7 />
		<Heading8 />
		<Heading9 />
		<Heading10 />
		<Heading11 />
		<Heading12 />
		<Heading13 />
		<Heading14 />
		<Heading15 />
	</main>
</Layout>

<style>

</style>
