---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Modal | Code Stock">
	<main>
		<h1><span class="text-gradient">Splide</span></h1>
		<section class="splide" aria-label="Splideの基本的なHTML">
			<div class="splide__track">
					<ul class="splide__list">
						<li class="splide__slide">
							<img
							src="https://source.unsplash.com/qCrKTET_09o"
							alt=""/>
						</li>
						<li class="splide__slide">
							<img
							src="https://source.unsplash.com/_hjsopbklZ0"
							alt=""/>
						</li>
						<li class="splide__slide">
							<img
							src="https://source.unsplash.com/hQBIJsBtyBw"
							alt=""/>
						</li>
					</ul>
			</div>
		</section>
	</main>
</Layout>

<!-- CDN JS -->
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>

<!-- CDN CSS -->
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

<script>
	document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '.splide' );
    splide.mount();
	} );
</script>

<style lang="scss">
	main {
		color: #333;
		font-size: 20px;
		line-height: 1.6;
		padding: 2rem;
	}

	h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.text-gradient {
		position: relative;
		color: rgba(0 0 0 / 0);
		background-size: 400%;
		background-position: 0%;
		-webkit-background-clip: text;
		background-clip: text;
		background-image: linear-gradient(
			23deg,
			#a3e5b5,
			#225489,
			#359dd8,
			#52a6ad
		);
		background-repeat: no-repeat;
		animation: archivecopy 7s ease infinite;
	}

	@keyframes archivecopy {
		0% {
			background-position: 0 50%;
		}

		25% {
			background-position: 100% 50%;
		}
		50% {
			background-position: 50% 100%;
		}
		50% {
			background-position: 0 100%;
		}
		100% {
			background-position: 0 50%;
		}
	}

	.splide__slide img {
		height: auto;
		width: 100%;
	}
</style>
