---
---

<ul>
  <li><a href="/">ホーム</a></li>
  <li><a href="/link/">リンク</a></li>
  <li><a href="/modal/">モーダル</a></li>
</ul>

<style lang="scss">
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    list-style: none;
  }

  li {
    a {
      font-weight: bold;
    }
  }
</style>
