---
import Sidenav from '../components/Sidenav.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="wrapper">
      <Sidenav />
      <slot />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --accent: 25, 47, 96;
    --accent-light: 187, 200, 230;
    --accent-dark: 15, 35, 80;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  * {
    box-sizing: inherit;
  }

  *:lang(en) {
    font-family: sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Noto Sans JP', sans-serif;
    font-feature-settings: 'palt';
    letter-spacing: 0.08em;
    color: #333;
    background-color: #E1F1FF;
    box-sizing: border-box;
	  margin-top: 4rem;
	  margin-bottom: 4rem;
  }

  /* body.no_scroll{
		overflow: hidden;
	} */

  main {
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 4px rgba(119, 119, 119, 0.1);
    /* flex: 1; */
    width: calc(100% - 330px);
    height: 900px;

    /* test */
    color: #333;
		font-size: 20px;
		line-height: 1.6;
		padding: 2rem;
  }

	h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.text-gradient {
		position: relative;
		color: rgba(0 0 0 / 0);
		background-size: 400%;
		background-position: 0%;
		-webkit-background-clip: text;
		background-clip: text;
		background-image: linear-gradient(
			23deg,
			#8BE182,
			#274A78,
			#009BAB,
			#00C19E
		);
		background-repeat: no-repeat;
		animation: archivecopy 7s ease infinite;
	}

	@keyframes archivecopy {
		0% {
			background-position: 0 50%;
		}

		25% {
			background-position: 100% 50%;
		}
		50% {
			background-position: 50% 100%;
		}
		50% {
			background-position: 0 100%;
		}
		100% {
			background-position: 0 50%;
		}
	}

  img {
    width: 100%;
    height: auto;
  }

  a {
    color: #274a78;
    text-decoration: none;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    /* column-gap: 2rem; */
    max-width: 1200px;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
</style>
